#intro{
    height: 100vh;
    margin: 10px;
    text-align: center;
}

#intro p{
    max-width: 900px;
}

h1,h3{
    margin-bottom: 10px;
    text-align: center;
}

p{
    padding-top: 5px;
    padding-bottom: 30px;
}

#intro .CTAButton{
 display: inline-block;   
}

#about,#schedule,#prizes,#submissions{
    margin: 20px;
}

#about>div,
#prizes>div,
#submissions>div{
    max-width: 900px;
    margin: auto;
}

ul{
    list-style-position: outside;
    padding-top: 5px;
    padding-bottom: 30px;
    list-style-type: disc;
    margin-left: 12px;
}

li{
    margin: 10px;
}

#intro p a{
    color: white;
    display: inline-block;
    margin-right: 10px;
}

#schedule>div{
    width: 100%;
}

table{
    text-align: left;
    font-size: 1rem;
    width: 90%;
    max-width: 900px;
    width: 100%;
    margin: auto;
}
th,td{
    border-bottom: 2px #a553b6 solid;
    padding: 5px 10px 5px 10px;
}

footer h1{
    text-align: left;
}

.half{
    display: flex;
}
.half>div:nth-child(1){
    flex: 1 50%;
}
.half>div:nth-child(2){
    flex: 1 50%;
}
@media screen and (max-width: 600px) {
    .half{
        flex-direction: column;
    }
    #intro h1, #about h1,#schedule h1,#prizes h1,#submission h1{
        font-size: 2rem;
    }
    table{
        font-size: 0.8rem;
    }
}
#schedule, #prizes, #submissions{
    padding-top: 100px;
}

.eventDetails{
    margin-top: 2px;
    display: inline-block;
    color: #d3beff;
}